*.[aod]
*.DS_Store
.DS_Store
*Thumbs.db
.flowconfig
.watchmanconfig
/**/npm-debug.log
/node_modules
/App/node_modules
/android/*
!/android/app
/android/app/build
/android/app/app.iml
/ios/*
/ios/**/*shared*
/ios/**/*xcuserdata*
!/ios/KitchenSink.xcodeproj
!/ios/KitchenSink
/ios/KitchenSink.xcodeproj/xcshareddata
/ios/KitchenSink.xcodeproj/xcuserdata
/ios/KitchenSink/cocoapods/*
!/ios/KitchenSink/cocoapods/Podfile
!/ios/KitchenSink/cocoapods/install.sh

