*.[aod]
*.DS_Store
.DS_Store
*Thumbs.db
.flowconfig
.watchmanconfig
/**/npm-debug.log
/node_modules
/App/node_modules
library
/android/*
!/android/app
!/android/settings.gradle
/android/app/build
/android/app/app.iml
/ios/*
/ios/**/*shared*
/ios/**/*xcuserdata*
!/ios/KitchenSink.xcodeproj
!/ios/KitchenSink
/ios/KitchenSink.xcodeproj/xcshareddata
/ios/KitchenSink.xcodeproj/xcuserdata
docs
/tools/release
/App/resource/image.js
/App/resource/jsimage
/App/resource/jsimage.js
/App/vaccinum/server/image
/App/vaccinum/server/public
